html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url(/src/img/background.jpg) 100% 100% no-repeat ;
    background-size:cover;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {    
    margin: 5ppx;
    background: url(/src/img/fighter-selection-background.jpg) 100% 100% no-repeat ;
    background-size:cover;
    border: groove #966441 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.fighter .name{
    color: #5a3d29;
    background-color: #E7BEA3;
    border: groove #966441 2px;
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
    padding: 5px;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.modal-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128,128,128,0.6);
}

.modal-root {
    border: groove #966441 8px;
    border-radius: 40px;
    background: url(/src/img/fighter-background.jpg) 100% 100% no-repeat ;
    background-size:cover;
    display: flex;
    flex-direction: column;
    border-radius: .3rem;
    background-color: white;
}

.modal-header {
    color: #5a3d29;
    border-bottom: groove #966441 2px;
    background-color: #E7BEA3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    padding: 1rem;
    font-weight: 700;
    font-size: 22px;
}

.modal-body {

    padding: 1rem;
}

.modal-body .name {
    color: #5a3d29;
    border: groove #966441 2px;
    background-color: #E7BEA3;
    text-transform: uppercase;
    font-size: 21px;
    margin-top: 0px;
    text-align: center;
}

.modal-body .characteristics {
    color: #5a3d29;
    border: groove #966441 2px;
    background-color: #E7BEA3;
    display: block;
    padding: 5px;
    float: left;
    margin: auto;
    width: auto;
}

.modal-body-winner {
    background: url(/src/img/winner-background.jpg) 100% 100% no-repeat ;
    background-size:cover;
    padding: 1rem;
}

.modal-body-winner .name {
    color: #5a3d29;
    border: groove #966441;
    background-color: #E7BEA3;
    text-transform: uppercase;
    font-size: 21px;
    margin-top: 0px;
    text-align: center;
}

.modal-body .preview {
    display: block;
    padding: 5px;
    float: left;
    margin: auto;
    width: auto;
    background: transparent;
}

.modal-body .characteristics-value{
    font-style: italic;
    margin: auto;
    width: auto;
}

.close-btn {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
}

.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    border: groove #966441 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
.custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.custom-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}